*{
    margin-top: 200px;
    background-color: black;

}

.head {
    background-image: url(../Images/backg.jpg);
}

body {
    background-color: black;
    transform: scale(1.0);
    background-position: center center;
    padding-top: 220px;
    overflow: none;
}
.TitleName {
    font-family: fantasy;
    text-align: center;
    color: #d9ff00;
    font-size: 100px;
    text-decoration: underline;
}

.main {
    align-items: center;
    text-align: center;
    border: 1px solid #d9ff00;
    background-color: #0000;
    padding-top: 100;
    margin-left: 500px;
    font-size: large;
    color: rgb(84, 139, 28);
    width: 50;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1;
    box-shadow: 0 0.5em 1em -0.125em rgb(255 255 255 / 10%), 0 0 0 1px rgb(255 255 255 / 2%);
}



.button {
        background-color: #080808;
        border-color: #d9ff00;
        border-width: 1px;
        color: #d2d2d2;
        cursor: pointer;
        justify-content: center;
        padding-bottom: calc(0.5em - 1px);
        padding-left: 1em;
        padding-right: 1em;
        text-align: center;
        white-space: nowrap;
}

.appDescription{
    /*
    border: solid #d9ff00;
    border-width: 1px;
    border-radius: 10px;
    */
    padding: 0;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

button:hover{
    border: gray;
    cursor: pointer;
    
}

.button {
    margin-top: 10px;
    margin-bottom: 10px;
}

html{
    background-color: black;
}